.header-bg{
    background-color: #FFF9F4;
}
.nav-fonts{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.my-logo{

}
.my-logo img{
    width: 100%;
}


font-family: 'Roboto', sans-serif;

font-family: 'Bebas Neue', cursive;